{% extends 'base.html' %}

{% block title %}Детали продукта{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<p>{{ product.description }}</p>
<p>Цена: {{ product.price }} ₽</p>

<div class="buttons mt-3">
    <a href="{% url 'version_add' product.pk %}" class="btn btn-secondary">Добавить версию</a>

    {% if product.current_version %}
        <p>Текущая версия: {{ product.current_version.version_name }} ({{ product.current_version.version_number }})</p>
        <a href="{% url 'version_edit' product.current_version.pk %}" class="btn btn-warning">Редактировать текущую версию</a>
    {% else %}
        <p>Нет активной версии</p>
    {% endif %}
</div>

<div class="mt-4">
    <a href="{% url 'product_list' %}" class="btn btn-secondary">Назад к списку продуктов</a>
</div>
{% endblock %}
