{% extends 'base.html' %}

{% block title %}Детали продукта{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<p>{{ product.description }}</p>
<p>Цена: {{ product.price }} ₽</p>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="buttons mt-3">
    <a href="{% url 'version_add' product.pk %}" class="btn btn-secondary">Добавить версию</a>

    {% if product.current_version %}
        <p>Текущая версия: {{ product.current_version.version_name }} ({{ product.current_version.version_number }})</p>
        <a href="{% url 'version_edit' product.current_version.pk %}" class="btn btn-warning">Редактировать текущую версию</a>
    {% else %}
        <p>Нет активной версии</p>
    {% endif %}

    <!-- Проверка на владельца продукта или на наличие прав редактирования у пользователя -->
    {% if product.owner == user or perms.catalog.change_product %}
        <a href="{% url 'product_update' product.pk %}" class="btn btn-primary">Редактировать продукт</a>
        <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">Удалить продукт</a>
    {% endif %}

    <!-- Проверка прав пользователя на отмену публикации -->
    {% if perms.catalog.can_unpublish_product %}
        <form method="post" action="{% url 'unpublish_product' product.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Отменить публикацию</button>
        </form>
    {% endif %}
</div>

<div class="mt-4">
    <a href="{% url 'product_list' %}" class="btn btn-secondary">Назад к списку продуктов</a>
</div>
{% endblock %}
